$cl-darkgrey: #282A2A;

$cl-font_lightgrey: #a4a6a6;
$cl-font_lightred: #d3010d;
$cl-font_white80: #ffffff80;


$bp-phone--small: 320px;
$bp-mobile--max: max-width 479px;
$bp-phone: 480px;
$bp-phone--max: max-width 767px;
$bp-tablet: 768px;
$bp-tablet--max: max-width 1023px;
$bp-tablet--landscape: 1024px;
$bp-desktop: 1200px;
$bp-desktop--medium: 1200px;
$bp-desktop--large: 1600px;
$bp-desktop--xlarge: 1920px;